body {
	background: #fff;
	font-family: 'Open Sans', sans-serif;
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
}

.contenedor article {
	line-height: 28px;
}
.contenedor .tiendas_Popup .btn-abrir-popup {
	padding: 0 20px;
	margin-bottom: 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #5E7DE3;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
	cursor: pointer;
}
.contenedor #crear-tienda {
	padding: 0 20px;
	margin-bottom: 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #5E7DE3;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
	cursor: pointer;
}
.contenedor .tiendas_Popup .btn-abrir-popup:hover {
	background: rgba(94,125,227, .7);
}

.overlay{
    background: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    align-items: center;
	justify-content: center;
	display: flex;
    visibility: hidden;
}
.overlay.active{
    visibility: visible;
}

.popup{
    background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    border-radius: 5px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
    transition:0.5s ease all;
    opacity: 0;
}
.popup .btn-cerrar-popup{
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    color: #BBBBBB;
}
.popup .btn-cerrar-popup:hover {
	color: #000;
}
.popup.active{opacity: 1;}