html{

  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  box-sizing: border-box;
}
*, *:before, *:after{
  box-sizing: inherit;
}

body {
  height: 100%;
  margin: 0;
  background-image: url("../img/eia-background.jpg");
  background-size: cover;
 

}
a{
  text-decoration: none;
}

.conteiner {
  width: 85%;
  max-width: 850px;
  margin: 0 auto;
}
body {
  font-family: georgia, times;
  color: #000000;
}
.header {

  background: #1a2537;
  color: white;
  padding: 1.5rem 0;
  position: fixed;
  width: 100%;
  top: 0;
}
.header a {
  color: white;
  text-decoration: none;
}

.nav-conteiner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navigation ul {

  margin: 0;
  padding: 0;
  list-style: none;
}
.navigation ul li {
  display: inline-block;
}
.navigation ul li a {
  display: block;
  padding: 0.5rem;
  transition: all 0.4s linear;
  border-radius: 5px;
}
.navigation ul li a:hover {
  background: gray;
}

.navigation li:hover .menu_vertical{
  display: block;
}
.menu_vertical{
  border-radius: 0.2rem;
  position:absolute;
  display:none;
  list-style: none;
  width:6rem;
  background-color: #1a2537;
}
.login {
  padding-top: 10rem;
}
.formulario {
  background-color: white;
  padding: 15px;
  width: 50%;
  margin: 150px auto;
  padding-bottom: 5rem;
  border-radius: 5px;
}
.formulario h1 {
  text-align: center;
  color: #1a2537;
  font-size: 40px;
}
input[type="text"],
input[type="password"] {
  font-size: 20px;
  width: 90%;
  padding: 10px;
  border: none;
}
.input-contenedor {
  margin: 20px auto;
}
.button {
  border: none;
  border-radius: 8px;
  width: 100%;
  padding: 15px 20px;
  margin-top: 20px;
  font-size: 20px;
  background-color: #1a2537;
  color: white;
  cursor: pointer;
  transition: all 0.1s linear;
}
.button:active {
  background: cadetblue;
  transform: scale(0.95);
}
footer {
  background: #dadada;
  padding: 3rem;
}
.logo{
  width:64px;
  height:64px;
  cursor: pointer;
}
.logo:active{
  transform: scale(0.95);
}



/* TIENDAS */



.contenedorTiendas{
 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
  row-gap: 2rem;
  margin: 3rem;
}

.productos .popup-view .popup .info .contenedor-Productos{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
  row-gap: 2rem;
  margin: 3rem;
}

.tienda{

  background-color:rgba(255, 255, 255,0.8);
  transition: background-color .4s;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0px 7px 11px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 7px 11px 0px rgba(0,0,0,0.75);
box-shadow: 0px 7px 11px 0px rgba(0,0,0,0.75);

}
.tienda .tienda-img{
  /*position:relative;      Sacando error*/
  
  margin-left:35%;
  max-width: 150px;
}
.tienda .nombre{
  color: #000000;
  /*position: relative;      Sacando error*/
  width: 100%;
  text-align: center;
  font-size: 30px;
  letter-spacing: 1px;
}
.tienda .descripcion{
  padding: 5px 5px;
  bottom: 30px;
}
.tienda .popup-btn{
color: #000000;
background:#1a2537;
position: relative;
bottom: 20px;
left: 40%;
font-size: 14px;
text-transform: uppercase;
text-decoration: none;
letter-spacing: 1px;
padding: 10px 15px;
border-radius: 20px;
}
/* POPUP */

.productos .popup-view{
  background: rgba(92, 89, 89,0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
}
.productos .popup-view.active{
  opacity: 1;
  visibility: visible;
}

.productos .popup{
  position: relative;
  display: flex;
  width: 800px;
  height: 500px;
  margin: 20px;  
}
.productos .popup .tienda-img{
  background: rgba(0, 0, 0,0.8);
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 90%;
  transform: translateY(25px);
}
.productos .popup .tienda-img img{
  position: relative;
  width: 450px;
  
}
.productos .popup .info{
  background: #ffffff;
  
  flex-direction: column;
  width: 55%;
  height: 100%;
  box-sizing: border-box;
  padding: 40px;
  border-radius: 10px;
}
.productos .popup .close-btn{
  color: #000000;
  position: absolute;
  font-size: 20px;
  right: 0;
  cursor: pointer;
  margin: 20px;
}
.productos .popup p{
  font-size: 25px;
  margin: 10px;
}


/* animaciones */
.tienda:hover{
  background-color:rgba(255, 255, 255,1);
  cursor: pointer;
}


.tienda p{
  margin: 1.5rem;
}

.cuerpo{
  background-image: url("../img/hola.jpg");
  background-repeat: no-repeat;
  background-size:100%
  
}
.foot {
  position: absolute;
  bottom: 0%;
  width: 100%;
}

.conetendorFiltro{
  justify-content: center;
 margin-top: 10rem;
 display: flex;
flex-direction: row;
column-gap: 10rem;

}

.botonServicios:hover{
  cursor: pointer;
}
.botonTiendas:hover{
  cursor: pointer;
}

.botonServicios:active{
  transform: scale(0.95);

}
.botonTiendas:active{
  transform: scale(0.95);

}


.botonServicios{
  transition: background-color .5s;
background-color: #1a2537;
width: 10rem;
  border-radius: 10px 138px 10px 10px;
-moz-border-radius: 10px 138px 10px 10px;
-webkit-border-radius: 10px 138px 10px 10px;
border: 0px solid #000000;

}

.botonServicios h1{
  margin-left:1rem;
  color:azure;

}



.botonTiendas{
  transition: background-color .5s;
  width: 10rem;
  background-color: #1a2537;
  border-radius: 19px 17px 39px 173px;
  -moz-border-radius: 19px 17px 39px 173px;
  -webkit-border-radius: 19px 17px 39px 173px;
  border: 0px solid #000000;
}

.botonTiendas h1{
  
margin-left:2rem;
  color:azure;
  
}
.botonTiendas:hover{
  background-color: #3b4d69;
}

.botonServicios:hover{
  background-color: #3b4d69;
}

.index__logo{
  width: 5%;
}



/** home **/
.homer{
  background-color:#ffffff;
}

.grid{
  padding: 15rem;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 3rem;
}

.university{
  
  width: 15rem;
  height: 15rem;
  
}
.university__imagen{
  width: 100%;
  height: 100%;
  
}
.university__nombre{
  font-size: large;
  text-align: center;
  color: #3d3d3d;
  font-size: 1.2rem;
  font-family: sans-serif;
  font-size: 700;

  
}

/** vista vendedor**/

.vistavendedor{
  margin-top: 5rem;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}


.perfil, .mitienda, .miservicio{
  border-radius: 0.2rem;
  background-color: #ffffff;

}
.perfil{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.perfil__yo{
  background-color: #1a2537;
  width: 20%;

}

.perfil__yo h2{

  margin: 2rem;
  bottom: 0;
  color: #ffffff;
}

.perfil__yo img{
width: 100%;
}
.perfil__general{
  width: 60%;
}

.perfil__editar{
  color: #9b9b9b;
  text-decoration: dashed;
}
.perfil__editar:hover, .perfil__enlace:hover{
  cursor: pointer;
}
.labelyo{
  padding: 0.1rem;
  width: 35rem;
  background-color: rgb(196, 223, 255);
  display: flex;
  flex-direction: row;
}

.perfil__enlace{
  margin-top: 0.95rem;
  margin-left: 0.7rem;
}
        /** Tienda **/

.mitienda, .mitienda__detalle{
  display: flex;
  flex-direction: column;
}

.mitienda__info{
  display: flex;
  flex-direction:row;
}

.mitienda__lugar{
  width:20%;
}

.mitienda__lugar img{
  width: 100%;
}
.mitienda__productolabel{
  display: flex;
  gap: 6rem;  
  flex-direction: row;
}

.boton_agregarproducto,.boton_eliminartienda{
  background-color: #3b4d69;
  width: 50%;
  text-align: center;
  color: aliceblue;
}

.mitienda__nombretienda{
  text-align: center;
}

.mitienda__opciones{
  width: 100%;
  justify-content: center;
  text-align: center;
  margin-left: 25%;
}


.miservicio__label{
  display: flex;
  flex-direction: column;
}
.miservicio h3{
  background-color: #1a2537;
  color: aliceblue;
  text-align: center;
}

.miservicio h2{
  text-align: center;
}

.miservicio{
  border-bottom: #000000;
  background-color: #eeeeee;
  padding: 1rem;
}

